.container{
    background-color: white;
    padding: 16px;
    max-height: 600px;
    overflow-y: scroll;
    display: black;
}

.time{
    font-size: 4rem;
    font-weight: 600;
}
.greetings{
    font-size: 2rem;
    font-weight: 400;
}
